
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Press+Start+2P&family=Trispace&display=swap');

html
{
    position:relative;
    min-height: 100%;
}
body
{
    display:flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    
}

header
{
    padding:10px;
    padding-top:50px;
    font-size: 40px;
    font-weight: bold;
    font-family: 'Press Start 2P','Courier New', Courier, monospace;
}

.main
{
    display:flex;
    flex-flow:column nowrap;
    align-items: center;
    justify-content: center;
    background-color: red;
    height: 60vh;
    width: 45vh;
    position:relative;
    transform: translateY(15%);
}

.screen
{
    display:flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: flex-end;
    width: 95%;
    height: 10%;
    background-color: grey;
    padding-top:10px;
    padding-bottom: 10px;
}

.result-row
{
    font-size:medium;
    padding-inline: 5px;
}

.input-row
{
    font-size: x-large;
    padding-inline: 5px;
}
.first-row
{
    display:flex;
    flex-flow:row nowrap;
    justify-content: space-evenly;
    padding:10px;
    min-width: 95%;
}

.first-row button
{
    padding:10px;
    cursor:pointer;
    min-width: 48%;
    margin-inline: 10px;
}

.numpad
{
    display:grid;
    height:50%;
    width: 95%;
}

footer
{
    text-align: center;
    padding: 20px;
    position:absolute;
    top: 90%;
}