
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Press+Start+2P&family=Trispace&display=swap');

html
{
    position:relative;
    min-height: 100%;
}
body
{
    display:flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    
}

header
{
    padding:10px;
    padding-top:50px;
    font-size: 40px;
    font-weight: bold;
    font-family: 'Press Start 2P','Courier New', Courier, monospace;
}

.main
{
    display:flex;
    flex-flow:column nowrap;
    align-items: center;
    justify-content: center;
    background-color: red;
    min-height: 60vh;
    min-width: 40vh;
    position:relative;
    transform: translateY(15%);
    border-radius: 10px;

}

.screen
{
    display:flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: flex-end;
    min-width: 95%;
    min-height: 35%;
    background-color: lightgrey;
    padding-top:10px;
    padding-bottom: 10px;
    font-family:  monospace;
}

.result-row
{
    font-size:medium;
    padding-inline: 5px;
}

.input-row
{
    font-size: x-large;
    padding-inline: 5px;
}

.first-row
{
    display:flex;
    flex-flow:row nowrap;
    justify-content: space-evenly;
    padding:10px;
    min-width: 95%;
}

.first-row button
{
    padding:10px;
    cursor:pointer;
    width: 50%;
    margin:8px;
}

.grid-container
{
    display:grid;
    grid-template-columns: repeat(4,auto);
    grid-template-rows: repeat(4, auto);
    width: 95%;
    height: 60%;
    gap: 15px;
}

.grid-container button
{
    padding:10px;
    cursor:pointer;
    text-align: center;
    width: 8vh;
    height: 8vh;
}

.numpad
{
    display:grid;
    grid-column: 1/4;
    grid-row: 1/4;
   /* height:60%;
    width: 95%;*/
}

.right-row
{
    grid-column: 4;
    grid-row: 1/5;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-between;
}

.bottom-row
{
    grid-row:4;
    grid-column: 1/4;
    display:flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    margin-left: 0px;
}

.bottom-row button
{
    margin-right: 8px;
}

footer
{
    text-align: center;
    padding: 20px;
    position:absolute;
    top: 90%;
}